{% extends 'base.html' %}

    {% block headerclass %}
		<div class="banner-header banner2">
			<div class="banner-dott1">
				{% endblock headerclass %}
	{% block body %}
		
<!-- // banner -->
<!-- about -->
<div class="about">
	<div class="container">
	<div class="w3-heading-all">
				<h3>About us</h3>
			</div>
		<div class="ab-agile">
			<div class="col-md-6 aboutleft">
				<h3>Welcome to Hospital</h3>
				<p class="para1">Donec bibendum velit quis diam venenatis, vulputate aliquam sapien blandit. 
				Etiam dui massa, vehicula a convallis a, facilisis vitae neque.Pellentesque sit amet 
				odio quis libero eleifend congue at ac justo. Suspendisse posuere congue accumsan Vulputate aliquam sapien. </p>
				<p><i class="fa fa-check" aria-hidden="true"></i> Proin tempor pulvinar Vivamus nisi hendrerit et. </p>
				<p><i class="fa fa-check" aria-hidden="true"></i> Proin tempor pulvinar Vivamus nisi hendrerit et. </p>
				<p><i class="fa fa-check" aria-hidden="true"></i> Proin tempor pulvinar Vivamus nisi hendrerit et. </p>
				</div>
			<div class="col-md-6 aboutright">
				<img src="{{ url_for('static',filename='p1.jpg') }}" class="img-responsive" alt="" />
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!-- //about -->
<!-- wthree-mid -->
	<div class="wthree-mid">
		<div class="container">
			<h3>Nisl amet dolor sit ipsum veroeros sed blandit</h3>
			<p>Standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
		</div>
	</div>
<!-- //wthree-mid -->
<!--/team-->
	<div class="team" id="team">
			<div class="w3-heading-all">
				<h3>Our Doctors</h3>
			</div>
			<div class="w3-agile-team-grids">
				<div class="w3-agile-team-grid1">
					<div class="col-md-4 w3-agile-team-img1">
					<div class="w3-agile-team-img-head">
					
						<h3>Joe Root</h3>
						<div class="team-social">
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-linkedin"></i></a>
						<a href="#"><i class="fa fa-pinterest-p"></i></a>
						</div>

					</div>
					</div>
					<div class="col-md-4 w3-agile-team-img1 w3-agile-team-img-1">
						<div class="w3-agile-team-img-head">
						<h3>perry jest</h3>
						<div class="team-social">
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-linkedin"></i></a>
						<a href="#"><i class="fa fa-pinterest-p"></i></a>
						</div>
					</div>
					
					</div>
					<div class="col-md-4 w3-agile-team-img1 w3-agile-team-img-2">
						<div class="w3-agile-team-img-head">
						<h3>Shakeera ls</h3>
						<div class="team-social">
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-linkedin"></i></a>
						<a href="#"><i class="fa fa-pinterest-p"></i></a>
						</div>
					</div>
					
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="w3-agile-team-grid2">
					<div class="col-md-4 w3-agile-team-img1 w3-agile-team-img-3">
						<div class="w3-agile-team-img-head">
						<h3>sharapova</h3>
						<div class="team-social">
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-linkedin"></i></a>
						<a href="#"><i class="fa fa-pinterest-p"></i></a>
						</div>
					</div>
					
					</div>
					<div class="col-md-4 w3-agile-team-img1 w3-agile-team-img-4">
					<div class="w3-agile-team-img-head">
						<h3>serina willams</h3>
						<div class="team-social">
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-linkedin"></i></a>
						<a href="#"><i class="fa fa-pinterest-p"></i></a>
						</div>
					</div>
					</div>
					<div class="col-md-4 w3-agile-team-img1 w3-agile-team-img-5">
						<div class="w3-agile-team-img-head">
						<h3>Usain bolt</h3>
						<div class="team-social">
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-linkedin"></i></a>
						<a href="#"><i class="fa fa-pinterest-p"></i></a>
						</div>
					</div>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="clearfix"></div>
			</div>
	</div>
	<!--//team-->
	{% endblock body %}