{% extends 'adminbase.html' %}
{% block headerclass %}
<div class="banner-header banner2">
	<div class="banner-dott1">
		{% endblock headerclass %}
		

{% block body %}
<div class="container">
    <div class="row clearfix">
		<div class="col-md-12 column">
			<table class="table table-bordered table-hover" id="tab_logic">
				<thead>
					<tr >
						<th class="text-center">
							#
						</th>
						<th class="text-center">
							Name
						</th>
						<th class="text-center">
							Degree
						</th>
						<th class="text-center">
							Working Hours
						</th>
					</tr>
				</thead>
				<tbody>
					
					<tr id='addr0'>
						<td>
						1
						</td>
						<td>
						<input type="text" name='name0'  placeholder='Name' class="form-control"/>
						</td>
						<td>
						<input type="text" name='degree0' placeholder='Degree' class="form-control"/>
						</td>
						<td>
						<input type="text" name='wrk0' placeholder='Working Hours' class="form-control"/>
						</td>
					</tr>
                    <tr id='addr1'></tr>
				</tbody>
			</table>
		</div>
	</div>
	<a id="add_row" class="btn btn-default pull-left">Add Doctor</a><a id='delete_row' class="pull-right btn btn-default">Delete Doctor</a>
</div>
	{% endblock body %}
	{% block script %}
	<script>
	$(document).ready(function(){
		var i=1;
	   $("#add_row").click(function(){
		$('#addr'+i).html("<td>"+ (i+1) +"</td><td><input name='name"+i+"' type='text' placeholder='Name' class='form-control input-md'  /> </td><td><input  name='degree"+i+"' type='text' placeholder='Degree'  class='form-control input-md'></td><td><input  name='wrk"+i+"' type='text' placeholder='Working Hours'  class='form-control input-md'></td>");
  
		$('#tab_logic').append('<tr id="addr'+(i+1)+'"></tr>');
		i++; 
	});
	   $("#delete_row").click(function(){
		   if(i>1){
		   $("#addr"+(i-1)).html('');
		   i--;
		   }
	   });
  
  });
</script>
{% endblock script %}
