{% extends 'adminbase.html' %}



    {% block headerclass %}
		<div class="banner-header banner2">
			<div class="banner-dott1">
				{% endblock headerclass %}


				{% block body %}
				<div class="container">
					<div class="row clearfix">
						<div class="col-md-12 column">
							<div class="table-responsive">
							<table class="table table-bordered table-hover" id="tab_logic">
								<thead>
									<tr >
										<th class="text-center">
											#
										</th>
										<th class="text-center">
											Device
										</th>
										<th class="text-center">
											Serial Number
										</th>
									
									</tr>
								</thead>
								<tbody>
									
									<tr id='addr0'>
										<td>
										1
										</td>
										<td>
										<input type="text" name='device0'  placeholder='Device' class="form-control"/>
										</td>
										<td>
										<input type="text" name='serial0' placeholder='Serial Number' class="form-control"/>
										</td>
								
									</tr>
									<tr id='addr1'></tr>
								</tbody>
							</table>
						</div>
						</div>
					</div>
					<a id="add_row" class="btn btn-default pull-left">Add Device</a><a id='delete_row' class="pull-right btn btn-default">Delete Device</a>
				</div>
					{% endblock body %}
					{% block script %}
					<script>
					$(document).ready(function(){
						var i=1;
					   $("#add_row").click(function(){
						$('#addr'+i).html("<td>"+ (i+1) +"</td><td><input name='device"+i+"' type='text' placeholder='Device' class='form-control input-md'  /> </td><td><input  name='serial"+i+"' type='text' placeholder='Serial Number'  class='form-control input-md'></td>");
				  
						$('#tab_logic').append('<tr id="addr'+(i+1)+'"></tr>');
						i++; 
					});
					   $("#delete_row").click(function(){
						   if(i>1){
						   $("#addr"+(i-1)).html('');
						   i--;
						   }
					   });
				  
				  });
				</script>
				{% endblock script %}