{% extends 'adminbase.html' %}

    {% block headerclass %}
		<div class="banner-header banner2">
			<div class="banner-dott1">
				{% endblock headerclass %}
 
        {% block body %}

        <div class="container">
            <div class="row clearfix">
            <div class="col-md-12 column">
              <table class="table table-bordered table-hover" id="tab_logic">
                <thead>
                  <tr >
                    <th class="text-center">
                      #
                    </th>
                    <th class="text-center">
                      Patient's Username
                    </th>
                    <th class="text-center">
                      Doctor
                    </th>
                    <th class="text-center">
                      Date
                    </th>
                    <th class="text-center">
                      Time
                    </th>
                  </tr>
                </thead>
                <tbody>
                  
                  <tr id='addr0'>
                    <td>
                    1
                    </td>
                    <td>
                    <input type="text" name='uname0'  placeholder="Patient's Username" class="form-control"/>
                    </td>
                    <td>
                    <input type="text" name='doctor0' placeholder='Doctor' class="form-control"/>
                    </td>
                    <td>
                    <input type="text" name='date0' placeholder='Date' class="form-control"/>
                    </td>
                    <td>
                      <input type="text" name='time0' placeholder='Time' class="form-control"/>
                      </td>
                  </tr>
                            <tr id='addr1'></tr>
                </tbody>
              </table>
            </div>
          </div>
          <a id="add_row" class="btn btn-default pull-left">Add Appointment</a><a id='delete_row' class="pull-right btn btn-default">Cancel Appointment</a>
        </div>
          {% endblock body %}
          {% block script %}
          <script>
          $(document).ready(function(){
            var i=1;
             $("#add_row").click(function(){
            $('#addr'+i).html("<td>"+ (i+1) +"</td><td><input name='uname"+i+"' type='text' placeholder='Patients Username' class='form-control input-md'  /> </td><td><input  name='doctor"+i+"' type='text' placeholder='Doctor'  class='form-control input-md'></td><td><input  name='date"+i+"' type='text' placeholder='Date'  class='form-control input-md'></td><td><input  name='time"+i+"' type='text' placeholder='Time'  class='form-control input-md'></td>");
          
            $('#tab_logic').append('<tr id="addr'+(i+1)+'"></tr>');
            i++; 
          });
             $("#delete_row").click(function(){
               if(i>1){
               $("#addr"+(i-1)).html('');
               i--;
               }
             });
          
          });
        </script>
        {% endblock script %}
        