{% extends 'adminbase.html' %}

    {% block headerclass %}
		<div class="banner-header banner2">
			<div class="banner-dott1">
				{% endblock headerclass %}
 
        {% block body %}
        <br>
        <div class="w3-heading-all">
          <h3 style="font-size:x-large"><strong>Upcoming Appointments</strong></h3>
        </div>
        <div class="container">
            <div class="row clearfix">
            <div class="col-md-12 column">
              <div class="table-responsive">
              <table class="table table-bordered table-hover" id="tab_logic">
                <thead class="table-dark">
                  <tr>
                    
                    {% for header in available_head %}
                    <th> {{ header }}</th>
						
						{% endfor %}
					</tr>
          
					<tr id="addr1"></tr>
			
                </thead>
                <tbody>
                  {% for row in upcoming_appointments %}
                  <tr id="addr0'">
                    {% for cell in row %}
                    <td> {{cell}}</td>
                    
                    {% endfor %}
                  </tr>
                  <tr id="addr1"></tr>
                  {% endfor %}
                </tbody>
              </table>
              </div>

            </div>
          </div>
          <!-- <a id="add_row" class="btn btn-default pull-left">Add Appointment</a><a id='delete_row' class="pull-right btn btn-default">Cancel Appointment</a> -->
        </div>

        <div class="w3-heading-all">
          <h3 style="font-size:x-large"><strong>Past Appointments</strong></h3>
        </div>
        <div class="container">
            <div class="row clearfix">
            <div class="col-md-12 column">
              <div class="table-responsive">
              <table class="table table-bordered table-hover" id="tab_logic">
                <thead>
                  <tr>
                    
                    {% for header in head %}
                    <th> {{ header }}</th>
						
						{% endfor %}
					</tr>
          
					<tr id="addr1"></tr>
			
                </thead>
                <tbody>
                  {% for row in past_appointments %}
                  <tr id="addr0'">
                    {% for cell2 in row %}
                    <td> {{cell2}}</td>
                    
                    {% endfor %}
                  </tr>
                  <tr id="addr1"></tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            </div>
          </div>
          <!-- <a id="add_row" class="btn btn-default pull-left">Add Appointment</a><a id='delete_row' class="pull-right btn btn-default">Cancel Appointment</a> -->
        </div>
      </div>
    </div>
          {% endblock body %}
          <!-- {% block script %} -->
          <!-- <script>
          $(document).ready(function(){
            var i=1;
             $("#add_row").click(function(){
            $('#addr'+i).html("<td>"+ (i+1) +"</td><td><input name='uname"+i+"' type='text' placeholder='Patients Username' class='form-control input-md'  /> </td><td><input  name='doctor"+i+"' type='text' placeholder='Doctor'  class='form-control input-md'></td><td><input  name='date"+i+"' type='text' placeholder='Date'  class='form-control input-md'></td><td><input  name='time"+i+"' type='text' placeholder='Time'  class='form-control input-md'></td>");
          
            $('#tab_logic').append('<tr id="addr'+(i+1)+'"></tr>');
            i++; 
          });
             $("#delete_row").click(function(){
               if(i>1){
               $("#addr"+(i-1)).html('');
               i--;
               }
             });
          
          });
        </script> -->
        <!-- {% endblock script %}
         -->