
 {% extends 'patientbase.html' %}

 {% block headerclass %}
 <div class="banner-top">
	<div class="banner-header">
			 {% endblock headerclass %}
			 {% block nav %}
			 <li><a href="/">Home</a></li>
			 <li><a href="/patient/availableappointments">Available Appointments</a></li>
			 <li><a href="/logout">Log Out</a></li>
			 {% endblock nav %}
 {% block body %}

 
		 <!-- slider -->
	 <div id="myCarousel" class="carousel slide" data-ride="carousel">
		 <!-- Indicators -->
		 <ol class="carousel-indicators">
			 <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			 <li data-target="#myCarousel" data-slide-to="1" class=""></li>
			 <li data-target="#myCarousel" data-slide-to="2" class=""></li>
			 <li data-target="#myCarousel" data-slide-to="3" class=""></li>
	
		 </ol>
		 <div class="carousel-inner" role="listbox">
			 <div class="item active"> 
				 <div class="banner-dott">
				 <div class="container">
					 <div class="carousel-caption">
						 <h3>"A woman's health is her capital"</h3>
						 <div class="contrast">
							   <p>-Harriet Beecher Stowe</p>
						  </div>
					 </div>
				 </div>
				 </div>
			 </div>
			 <div class="item item1"> 
				 <div class="banner-dott">
				 <div class="container">
					 <div class="carousel-caption">
						 <h3>Your wellbeing is our top priority</h3>
						 <div class="contrast">
							 
						  </div>
					 </div>
				 </div>
				 </div>
			 </div>
			 <div class="item item2"> 
				 <div class="banner-dott">
				 <div class="container">
					 <div class="carousel-caption">
						 <h3>We provide high-tech devices</h3>
						   <div class="contrast">
							   
						   </div>
					 </div>
				 </div>
				 </div>
			 </div>
			 <div class="item item3"> 
				 <div class="banner-dott">
				 <div class="container">
					 <div class="carousel-caption">
						  <h3>We will be with you every step of the way</h3>
						  
						   <div class="contrast">
							 
						   </div>
					 </div>
				 </div>
				 </div>
			 </div>
			 
		 </div>
		 <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
			 <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
			 <span class="sr-only">Previous</span>
		 </a>
		 <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
			 <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
			 <span class="sr-only">Next</span>
		 </a>
	 </div> 
	 <div class="agileits_reservation" >
		 <form action="{{ url_for('avaialable_appointments') }}" method="post">
		 
			 <div class="clearfix"> </div>
			 <div class="agileits_reservation_grid">
			<!-- 	 <div  class="span1_of_1 book_date"> 
					 <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
					 <input class="date"  id="datepicker" name="date" min="2022-10-05" placeholder="Select Date"  type="text" required="">
				 </div> -->
				 <div class="span1_of_4 section_room" >
					<!-- start_section_room --> 
					<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
					<select id="doctor" name="doctor" class="frm-field sect" required> <!-- id was country /1-->
						{% for doctor in doctors %}
		
						<option value="{{doctor}}">{{ doctor }}</option>
						{% endfor %}
						
					</select> 
				</div> 
				<div class="span1_of_2 section_room">
					<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
					<select id="date" name="date" class="frm-field sect" required>
						{% for date in dates %}
		
						<option value="{{date}}">{{ date }}</option>
						{% endfor %}
					
					</select>

				</div>
				<div class="span1_of_3 section_room">
					<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
					<select id="time" name="time" class="frm-field sect" required>
						{% for time in times %}
		
						<option value="{{time}}">{{ time }}</option>
						{% endfor %}
					
					</select>

				</div>
				<div class="date_btn"> 
					<input type="submit" name="booking" value="Book Now" /> 
					
				</div> 
				
				 <div class="clearfix"></div>
			 </div>
			 
		 </form>
	 </div>
</div>
<div class="w3-heading-all">
	<br>
	<h3 style="font-size:x-large"><strong>Choose from the appointments below and fill the form  </strong></h3>
  </div>
  <div class="container">
	  <div class="row clearfix">
	  <div class="col-md-12 column">
		<div class="table-responsive">
		<table class="table table-bordered table-hover" id="tab_logic">
		  <thead class="table-dark">
			<tr>
			  
			  {% for header in head %}
			  <th> {{ header }}</th>
				  
				  {% endfor %}
			  </tr>
	
			  <tr id="addr1"></tr>
	  
		  </thead>
		  <tbody>
			{% for row in availableappointments %}
			<tr id="addr0'">
			  {% for cell in row %}
			  <td> {{cell}}</td>
			  
			  {% endfor %}
			</tr>
			<tr id="addr1"></tr>
			{% endfor %}
		  </tbody>
		</table>
		</div>
	  
	  </div>
	</div>
  </div>
{% block script %}

{% endblock script %}
{% endblock body %}
