{% extends 'availableappointments.html' %}

{% block headerclass %}
<div class="banner-header banner2">
    <div class="banner-dott1">
        {% endblock headerclass %}


{% block body %}
<br>
        <div class="w3-heading-all">
          <h3 style="font-size:x-large"><strong>Your appointment has been successfully booked!</strong></h3>
        </div>


<div class="container">
<div class="row clearfix">
<div class="col-md-12 column">
    <div class="table-responsive">
    <table class="table table-bordered table-hover" id="tab_logic">
        <thead>
            <tr>
                <th class="text-center">
                    Appointment ID
                </th>	
                <th class="text-center">
                    Doctor's Name
                </th>
                <th class="text-center">
                    Appointment Date
                </th>
                <th class="text-center">
                    Apppointment Time
                </th>
                
            </tr>
		
        </thead>
        <tbody>
            
            <tr id="addr0'">
               
                <td> {{appid}}</td>
                <td> {{dname}}</td>
                <td> {{appdate}}</td>
                <td> {{apptime}}</td>
                
            </tr>
            <tr id="addr1"></tr>
           
        </tbody>
    </table>
</div>
</div>
</div>

</div>
{% endblock body %}