{% extends 'base.html' %}

    {% block headerclass %}
		<div class="banner-header banner2">
			<div class="banner-dott1">
				{% endblock headerclass %}
				{% block nav %}
				<li><a href="/">Home</a></li>
				<li><a href="/patient/list">Doctors</a></li>
				{% endblock nav %}
	{% block body %}
<!-- 		

	<div class="team" id="team">
			<div class="w3-heading-all">
				<h3>Our Doctors</h3>
			</div>
			<div class="list-group">
				<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
				  <div class="d-flex w-100 justify-content-between">
					<h5 class="mb-1">Doctor 1</h5>
					<small>doctor's working hours:</small>
				  </div>
				  <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
				
				</a>
				<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
				  <div class="d-flex w-100 justify-content-between">
					<h5 class="mb-1">Doctor 2</h5>
					<small class="text-muted">doctor's working hours:</small>
				  </div>
				  <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
		
				</a>
				<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
				  <div class="d-flex w-100 justify-content-between">
					<h5 class="mb-1">Doctor 3</h5>
					<small class="text-muted">doctor's working hours:</small>
				  </div>
				  <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
	
				</a>
				
				{% if access=='admin' %}
				<div class="date_btn" >
					<input type="button" id = "edit" value='Edit List' ">
					</div>
					{% endif %}
			
			  </div>
			
	</div> -->
	
	<!--//team-->

<div class="container">
    <div class="row clearfix">
		<div class="col-md-12 column">
			<table class="table table-bordered table-hover" id="tab_logic">
				<thead>
					<tr >
						<th class="text-center">
							#
						</th>
						<th class="text-center">
							Name
						</th>
						<th class="text-center">
							Degree
						</th>
						<th class="text-center">
							Working Hours
						</th>
					</tr>
				</thead>
				<tbody>
					{% for row in doctorslist %}
					<tr id='addr0'>
						<td> {{row.0}}</td>
						<td> {{row.1}}</td>
						<td> {{row.2}}</td>
						<td> {{row.3}}</td>
					
					</tr>
                    <tr id='addr1'></tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	
</div>
	{% endblock body %}

