{% extends 'base.html' %}
{% block headerclass %}

<div class="banner-header banner2">
	<div class="banner-dott1">
		{% endblock headerclass %}

{% block body %}
<!-- // banner -->
<div class="section-w3ls agileits-gallery" id="portfolio">
	<div class="w3-heading-all">
				<h3>Our gallery</h3>
			</div>
		<div class="gallery-w3layouts">
			<div class="col-sm-3 w3_tab_img_left">
				<div class="demo">
					<a class="cm-overlay" href="{{ url_for('static',filename='g1.jpg') }}">
						<figure class="imghvr-shutter-in-out-diag-2">
							<img src="{{ url_for('static',filename='g1.jpg') }}" alt=" " class="img-responsive" />
						</figure>
					</a>
				</div>
				<div class="agile-gallery-info">
					<h5>MediBulk</h5>
					<p>we are innovation driven</p>
				</div>
			</div>
			<div class="col-sm-3 w3_tab_img_left">
				<div class="demo">
					<a class="cm-overlay" href="{{ url_for('static',filename='g2.jpg') }}">
						<figure class="imghvr-shutter-in-out-diag-2">
							<img src="{{ url_for('static',filename='g2.jpg') }}"  alt=" " class="img-responsive" />
						</figure>
					</a>
				</div>
				<div class="agile-gallery-info">
					<h5>MediBulk</h5>
					<p>we are innovation driven </p>
				</div>
			</div>
			<div class="col-sm-3 w3_tab_img_left">
				<div class="demo">
					<a class="cm-overlay" href="{{ url_for('static',filename='g3.jpg') }}">
						<figure class="imghvr-shutter-in-out-diag-2">
							<img src="{{ url_for('static',filename='g3.jpg') }}" alt=" " class="img-responsive" />
						</figure>
					</a>
				</div>
				<div class="agile-gallery-info">
					<h5>MediBulk</h5>
					<p>we are innovation driven</p>
				</div>
			</div>
			<div class="col-sm-3 w3_tab_img_left">
				<div class="demo">
					<a class="cm-overlay" href="{{ url_for('static',filename='g4.jpg') }}">
						<figure class="imghvr-shutter-in-out-diag-2">
							<img src="{{ url_for('static',filename='g4.jpg') }}"  alt=" " class="img-responsive" />
						</figure>
					</a>
				</div>
				<div class="agile-gallery-info">
					<h5>MediBulk</h5>
					<p>we are innovation driven</p>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="col-sm-3 w3_tab_img_left">
				<div class="demo">
					<a class="cm-overlay" href="{{ url_for('static',filename='g5.jpg') }}" >
						<figure class="imghvr-shutter-in-out-diag-2">
							<img src="{{ url_for('static',filename='g5.jpg') }}"  alt=" " class="img-responsive" />
						</figure>
					</a>
				</div>
				<div class="agile-gallery-info">
					<h5>MediBulk</h5>
					<p>we are innovation driven</p>
				</div>
			</div>
			<div class="col-sm-3 w3_tab_img_left">
				<div class="demo">
					<a class="cm-overlay" href="{{ url_for('static',filename='g8.jpg') }}">
						<figure class="imghvr-shutter-in-out-diag-2">
							<img src="{{ url_for('static',filename='g8.jpg') }}" alt=" " class="img-responsive" />
						</figure>
					</a>
				</div>
				<div class="agile-gallery-info">
					<h5>MediBulk</h5>
					<p>we are innovation driven</p>
				</div>
			</div>
			<div class="col-sm-3 w3_tab_img_left">
				<div class="demo">
					<a class="cm-overlay" href="{{ url_for('static',filename='g7.jpg') }}">
						<figure class="imghvr-shutter-in-out-diag-2">
							<img src="{{ url_for('static',filename='g7.jpg') }}" alt=" " class="img-responsive" />
						</figure>
					</a>
				</div>
				<div class="agile-gallery-info">
					<h5>MediBulk</h5>
					<p>we are innovation driven</p>
				</div>
			</div>
			<div class="col-sm-3 w3_tab_img_left">
				<div class="demo">
					<a class="cm-overlay" href="{{ url_for('static',filename='g6.jpg') }}">
						<figure class="imghvr-shutter-in-out-diag-2">
							<img src="{{ url_for('static',filename='g6.jpg') }}"  alt=" " class="img-responsive" />
						</figure>
					</a>
				</div>
				<div class="agile-gallery-info">
					<h5>MediBulk</h5>
					<p>we are innovation driven</p>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<!-- //menu -->

{% endblock body %}