{% extends 'base.html' %}
{% block style %}
<style>
    html,body
{

    overflow-x: hidden; 
}
</style>
{% endblock style %}
</head>
<body>

    {% block headerclass %}
   
    <div class="carousel">
        <div class="item10">
        <div class="banner-top">
            <div class="banner-header">
                </div>
        </div>
                {% endblock headerclass %}
                {% block title %}
                <div class="w3_navigation_pos " style="position:fixed; top:2.5%;left:40%"  >
                   
                    <h1 style="text-align:center"><a href="/">OBGYN</a></h1>
                    {% endblock title %}
                {% block nav %}
                <li><a href="http://127.0.0.1:5000/login">Log In</a></li>
                
                <li><a href="/contactus">Contact Us</a></li>
                {% endblock nav %}
{% block body %}

{% block loginbody %}
{% endblock loginbody%}

{% endblock body %}

