{% extends 'base.html' %}
{% block style %}
<style>
    html,body
{

    overflow-x: hidden; 
}
</style>
{% endblock style %}
</head>
<body>

    {% block headerclass %}
   
    <div class="carousel">
        <div class="item10">
        <div class="banner-top">
            <div class="banner-header">
                </div>
        </div>
                {% endblock headerclass %}
                
                {% block nav %}
                <li><a href="http://127.0.0.1:5000/login">Log In</a></li>
                {% endblock nav %}
{% block body %}

{% block loginbody %}
{% endblock loginbody%}

{% endblock body %}

