{% extends 'loginbase.html' %}


    {% block loginbody %}
    <div class="banner-top" style="transform: translate(0px,-550px); ">
     <div class="agileits_reservation ">
        <div class="container" style="display:flex; vertical-align: middle;">
            <form  method="POST" action="{{url_for('signin')}}" enctype="multipart/form-data" style="transform: translate(-36px, 0px)">
                <div class="username" style="margin: 1.8em 0"> 
                    <span class="glyphicon glyphicon-user"aria-hidden="true"></span>
                    <input type="text" id="username" name="username" placeholder="Enter username" required="">
                </div>  
                            <div class="password" style="width:500px"> 
                                <!-- <span class="glyphicon glyphicon-user" aria-hidden="true"></span> -->
                                <input type="password" id="pass" name="pass" placeholder="password" required="">
                            </div> 
                            <div class="span1_of_1 section_room" style="margin: 1.8em 0;">
                                <!-- start_section_room --> 
                                <span class="glyphicon glyphicon-cog"aria-hidden="true"></span>
                                <select id="access"name="access" class="frm-field sect" required>
      
                                    <option value="patient">Patient</option>
                                    <option value="doctor">Doctor</option>         
                                    <option value="admin">Admin</option>
                                </select> 
                            </div>  
                            <div class="date_btn"> 
                                <input type="submit" name="login"  value="Sign in" /> 
                                
                            </div> 
                            <div class="date_btn" style="transform: translate(150px, 0px); ">
                                <input type="button" onClick="location.href='/signup'"
                                value='Create an account'>
                                </div>
                                <br>
                                <mark>{{ error }}</mark>
                                 
                                
                                
                               
                        </form>
                    </div>
                </div>
        </div>
        
{% block script %}
<script>
    function showAlert() {
        alert("{{error }}");
    }
</script>
{% endblock script %}
        
        {% endblock loginbody%}