{% extends 'doctorbase.html' %}

    {% block headerclass %}
		<div class="banner-header banner2">
			<div class="banner-dott1">
				{% endblock headerclass %}

 
		{% block body %}

		

<div class="container">
    <div class="row clearfix">
		<div class="col-md-12 column">
			<table class="table table-bordered table-hover" id="tab_logic">
				<thead>
					<tr >
						<th class="text-center">
							#
						</th>
						<th class="text-center">
							Patient's Username
						</th>
						<th class="text-center">
							Doctor
						</th>
						<th class="text-center">
							Date
						</th>
						<th class="text-center">
							Time
						</th>
					</tr>
				</thead>
				<tbody>
					{% for row in appointments %}
					<tr id='addr0'>
						<td> {{row.0}}</td>
						<td> {{row.1}}</td>
						<td> {{row.2}}</td>
						<td> {{row.3}}</td>
					
					</tr>
                    <tr id='addr1'></tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	
</div>
	{% endblock body %}