
<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
<title>MediBulk a Medical Category Bootstrap Responsive Website Template | Services :: w3layouts</title>
<!--/metadata -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<meta name="keywords" content="MediBulk Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href= "{{ url_for('static',filename='styles/bootstrap.css') }}" rel="stylesheet" type="text/css" media="all" />
<link href= "{{ url_for('static',filename='styles/font-awesome.min.css') }}" rel="stylesheet" type="text/css" media="all">
<link href= "{{ url_for('static',filename='styles/style.css') }}" rel="stylesheet" type="text/css" media="all" />
<link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
<!--//fonts-->

</head>
	
<body>

<div class="banner-header banner2">
	<div class="banner-dott1">
		<!--header-->
		<div class="header">
		<div class="container-fluid">
			<nav class="navbar navbar-default">
				<div class="navbar-header navbar-left">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<div class="w3_navigation_pos">
						<h1><a href="index.html">MediBulk</a></h1>
					</div>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
					<nav>
						<ul class="nav navbar-nav">
							<li><a href="index.html">Home</a></li>
							<li ><a href="about.html">About Us</a></li>
							<li class="active"><a href="services.html">Our Services</a></li>
							<li><a href="gallery.html">Gallery</a></li>
							<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-hover="Pages" data-toggle="dropdown">Short Codes <b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li><a href="icons.html">Icons</a></li>
										<li><a href="typography.html">Typography</a></li>
									</ul>
							  </li>
							<li><a href="contact.html">Contact</a></li>
						</ul>
					</nav>
				</div>
			</nav>	
		</div>
	</div>
		<!--//header-->
	</div>
</div>
<!-- // banner -->
<!-- offer-bottom -->
	<div class="banner-bottom">
		<div class="container">
		<div class="w3-heading-all">
				<h3>Special Services</h3>
			</div>
			<div class="col-md-4 w3l_services_footer_top_left">
				<img src="{{ url_for('static',filename='sp5.jpg') }}" alt=" " class="img-responsive" />
			</div>
			<div class="col-md-8 w3l_services_footer_top_right">
				<div class="w3l_services_footer_top_right_main">
					<div class="w3l_services_footer_top_right_main_l">
						<h3>20 January 2018</h3>
					</div>
					<div class="w3l_services_footer_top_right_main_l1">	
						<div class="w3ls_service_icon">
							<i class="fa fa-globe" aria-hidden="true"></i>
						</div>
					</div>
					<div class="w3l_services_footer_top_right_main_r">
						<a href="#" >Maximus pretium </a>
						<p>Morbi sollicitudin odio massa, et rutrum sem rutrum in. 
							Duis elementum turpis ultricies, finibus leo.</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="w3l_services_footer_top_right_main">
					<div class="w3l_services_footer_top_right_main_l">
						<h3>25 January 2018</h3>
					</div>
					<div class="w3l_services_footer_top_right_main_l1">	
						<div class="w3ls_service_icon">
							<i class="fa fa-map" aria-hidden="true"></i>
						</div>
					</div>
					<div class="w3l_services_footer_top_right_main_r">
						<a href="#" >Aliquam faucibus </a>
						<p>Morbi sollicitudin odio massa, et rutrum sem rutrum in. 
							Duis elementum turpis ultricies, finibus leo.</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="w3l_services_footer_top_right_main">
					<div class="w3l_services_footer_top_right_main_l">
						<h3>30 January 2018</h3>
					</div>
					<div class="w3l_services_footer_top_right_main_l1">	
						<div class="w3ls_service_icon">
							<i class="fa fa-pie-chart" aria-hidden="true"></i>
						</div>
					</div>
					<div class="w3l_services_footer_top_right_main_r">
						<a href="#">Vitae faucibus</a>
						<p>Morbi sollicitudin odio massa, et rutrum sem rutrum in. 
							Duis elementum turpis ultricies, finibus leo.</p>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //offer-bottom -->
<!-- offer -->
	<div class="offer">
		<div class="container">
			<div class="w3ls_banner_bottom_grids">
				<div class="col-md-4 agile_offer_grid">
					<div class="agileits_w3layouts_offer_grid">
						<div class="agile_offer_grid_pos">
							<p>01.</p>
						</div>
					</div>
					<div class="wthree_offer_grid1">
						<h4>Operation Theatre </h4>
						<p class="w3_agileits_service_para">Praesent nec blandit lorem, et facilisis mi. Ut fringilla massa massa, 
							id consequat eros iaculis quis.</p>
					</div>
				</div>
				<div class="col-md-4 agile_offer_grid">
					<div class="agileits_w3layouts_offer_grid">
						<div class="agile_offer_grid_pos">
							<p>02.</p>
						</div>
					</div>
					<div class="wthree_offer_grid1">
						<h4>Outdoor Checkup </h4>
						<p class="w3_agileits_service_para">Praesent nec blandit lorem, et facilisis mi. Ut fringilla massa massa, 
							id consequat eros iaculis quis.</p>
					</div>
				</div>
				<div class="col-md-4 agile_offer_grid">
					<div class="agileits_w3layouts_offer_grid">
						<div class="agile_offer_grid_pos">
							<p>03.</p>
						</div>
					</div>
					<div class="wthree_offer_grid1">
						<h4>Cancer Service </h4>
						<p class="w3_agileits_service_para">Praesent nec blandit lorem, et facilisis mi. Ut fringilla massa massa, 
							id consequat eros iaculis quis.</p>
					</div>
				</div>
				
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //offer -->
<!-- testimonials -->
	<div class="testimonials" id="testimonials">
		<div class="container">
		<div class="w3-heading-all">
			<h3>Testimonials</h3>
			<div class="w3ls_testimonials_grids">
				 <section class="center slider">
						<div class="agileits_testimonial_grid">
							<div class="w3l_testimonial_grid">
								<p>In eu auctor felis, id eleifend dolor. Integer bibendum dictum erat, 
									non laoreet dolor.</p>
								<h4>Rosy Crisp</h4>
								<h5>Student</h5>
								<div class="w3l_testimonial_grid_pos">
									<img src="{{ url_for('static',filename='tm1.jpg') }}" alt=" " class="img-responsive" />
								</div>
							</div>
						</div>
						<div class="agileits_testimonial_grid">
							<div class="w3l_testimonial_grid">
								<p>In eu auctor felis, id eleifend dolor. Integer bibendum dictum erat, 
									non laoreet dolor.</p>
								<h4>Laura Paul</h4>
								<h5>Student</h5>
								<div class="w3l_testimonial_grid_pos">
									<img src="{{ url_for('static',filename='tm2.jpg') }}"  alt=" " class="img-responsive" />
								</div>
							</div>
						</div>
						<div class="agileits_testimonial_grid">
							<div class="w3l_testimonial_grid">
								<p>In eu auctor felis, id eleifend dolor. Integer bibendum dictum erat, 
									non laoreet dolor.</p>
								<h4>Michael Doe</h4>
								<h5>Student</h5>
								<div class="w3l_testimonial_grid_pos">
									<img src="{{ url_for('static',filename='tm3.jpg') }}" alt=" " class="img-responsive" />
								</div>
							</div>
						</div>
				</section>
			</div>
		</div>
	</div>
		</div>
<!-- //testimonials -->


<!-- footer -->
<div class="footer">
	<div class="container">
	<div class="footer_agile_inner_info_w3l">
		<div class="col-md-4 footer-left">
			<h2><a href="index.html">MediBulk </a></h2>
			<p>Lorem ipsum quia dolor
			sit amet, consectetur, adipisci velit, sed quia non 
			numquam eius modi tempora.</p>
			<ul class="social-nav model-3d-0 footer-social w3_agile_social two">
															<li><a href="#" class="facebook">
																  <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
																  <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div></a></li>
															<li><a href="#" class="twitter"> 
																  <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
																  <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div></a></li>
															<li><a href="#" class="instagram">
																  <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
																  <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div></a></li>
															<li><a href="#" class="pinterest">
																  <div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
																  <div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div></a></li>
														</ul>
		</div>
		<div class="col-md-4 footer-right">
			<div class="sign-grds">
				<div class="sign-gd">
					<h4>Information </h4>
					<ul>
						 <li><a href="index.html" class="active">Home</a></li>
        <li><a href="about.html" >About</a></li>
        <li><a href="services.html"> Services</a></li>
		<li><a href="gallery.html">Portfolio</a></li>
		<li><a href="contact.html">Contact</a></li>
						
					</ul>
				</div>
				</div>
			</div>
				<div class="col-md-4 sign-gd-two">
					<h4>Address</h4>
					<div class="w3-address">
						<div class="w3-address-grid">
							<div class="w3-address-left">
								<i class="fa fa-phone" aria-hidden="true"></i>
							</div>
							<div class="w3-address-right">
								<h6>Phone Number</h6>
								<p>+1 234 567 8901</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="w3-address-grid">
							<div class="w3-address-left">
								<i class="fa fa-envelope" aria-hidden="true"></i>
							</div>
							<div class="w3-address-right">
								<h6>Email Address</h6>
								<p>Email :<a href="mailto:example@email.com"> mail@example.com</a></p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="w3-address-grid">
							<div class="w3-address-left">
								<i class="fa fa-map-marker" aria-hidden="true"></i>
							</div>
							<div class="w3-address-right">
								<h6>Location</h6>
								<p>Broome St, NY 10002,California, USA. 
								
								</p>
							</div>
							
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
				
		
		<div class="clearfix"></div>
			
		<p class="copy-right">&copy;2018 MediBulk. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
	</div>
</div>
</div>
<!-- //footer -->

<script type="text/javascript" src="{{ url_for('static',filename='jquery-2.1.4.min.js') }}"></script>
	<!-- carousal -->
	<script src="{{ url_for('static',filename='slick.js') }}" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		$(document).on('ready', function() {
		  $(".center").slick({
			dots: true,
			infinite: true,
			centerMode: true,
			slidesToShow: 2,
			slidesToScroll: 2,
			responsive: [
				{
				  breakpoint: 768,
				  settings: {
					arrows: true,
					centerMode: false,
					slidesToShow: 2
				  }
				},
				{
				  breakpoint: 480,
				  settings: {
					arrows: true,
					centerMode: false,
					centerPadding: '40px',
					slidesToShow: 1
				  }
				}
			 ]
		  });
		});
	</script>
<!-- //carousal -->

	<!-- //Tour-Locations-JavaScript -->
			<script src="{{ url_for('static',filename='SmoothScroll.min.js') }}" ></script>
		<!-- smooth scrolling-bottom-to-top -->
				<script type="text/javascript">
					$(document).ready(function() {
					/*
						var defaults = {
						containerID: 'toTop', // fading element id
						containerHoverID: 'toTopHover', // fading element hover id
						scrollSpeed: 1200,
						easingType: 'linear' 
						};
					*/								
					$().UItoTop({ easingType: 'easeOutQuart' });
					});
				</script>
				<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
		<!-- //smooth scrolling-bottom-to-top -->
		<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="{{ url_for('static',filename='move-top.js') }}" ></script>
<script type="text/javascript" src="{{ url_for('static',filename='easing.js') }}" ></script>
<script type="text/javascript"src="{{ url_for('static',filename='bootstrap.js') }}"></script> <!-- Necessary-JavaScript-File-For-Bootstrap --> 

</body>
</html>